body {
  background-image: url(imagens/fundo.png);
  margin-left: 10%;
  margin-right: 10%;
  font-family: arial;
}


h1 {
  font-family: times;
  font-size: 28px;
  color: limegreen;
}

h2 {
  font-family: times;
  font-size: 24px;
  color: limegreen;
}

img {
  border:4px solid limegreen;
}

p {
  text-align: justify;
}


blockquote {
  font-style: italic;
}